html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
#app {
  height: 100%;
  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    button{
      margin-left: 16px;
    }
  }
  .body{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .input{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .k-input{
        width: 80%;
      }
    }
    .box{
      width: 50vw;
      height: 28.125vw;
    }
  }
}
.xgplayer-star{
  position: relative;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  &.active{
    svg path{ fill: red; }
  }
}
.star-body, .history-body{
  li{
    margin: 16px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &:nth-child(odd) {
      color: #000;
    }
    &:nth-child(even) {
      color: #666;
    }
  }
}